* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-1: #40434E;
    --color-2: #0E3343;
    --color-3: #FFFFFA;
    --color-4: #97CC04;
    --color-5: #D78F09;
}

html, body {
    height: 100%;
}

body {
    background-color: var(--color-1);
    color: var(--color-3);
    display: flex;
    flex-direction: column;
    width: 100%;
}

header {
    color: var(--color-4);
    background-color: var(--color-2);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-image: url(../images/laptop.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
    max-height: 15vw;
    
    
    
}

header h1 {
    text-decoration: none;
    color: var(--color-4);
    font-weight: bold;
    font-size: xx-large;
    margin: 0;
    
    
}

header a {
    text-decoration: none;
    color: var(--color-4);
   
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    color: var(--color-5);
    text-decoration: none;
    font-size: 26px;
    margin: 0 30px;
    border-bottom: solid 1px;
}

h2 {
    border-right: solid;
    display: flex;
    flex-direction: column;
    
    

}

/* footer */
footer {
    color: var(--color-4);
    background-color: var(--color-2);
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    justify-content: center;
    width: 100%;
}

/* hero section */
.hero {
    background-image: url(../images/laptop.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    height: 50%;
    min-height: 30vw;
    margin-bottom: 5%;
    border-bottom: solid 1px var(--color-5);
}

/* about section */
.container-about {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-content: space-around;
}

.container-about h2 {
    font-size: 3em;
    color: var(--color-4);
    align-self: center;
    
}

.container-bio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}

.container-about img {
    max-width: auto;
    max-height: 150px;
    align-self: center;
    border-radius: 10%;
}

.container-about p {
    flex: 5;
    align-self: center;
}

/* work section */
.container-work {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}




.container-work-img {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
}

.container-work-1 {
    width: 25%;
   display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.container-work-1 h2 {
    color: var(--color-4);
    font-size: 3em;
    align-self: center;
}

.work-1 {
    background-image: url(../images/run-buddy.png);
    list-style: none;
    width: 40%;
    height: 150px;
    position: relative;
    opacity: 1;

}

.work-1:hover {
    opacity: 0.3;
}


.work-2 {
    background-image: url(../images/horiseon.png);
    list-style: none;
    width: 40%;
    height: 150px;
    opacity: 1;
    position: relative;
}

.work-2:hover {
    opacity: 0.3;
}

/* contact section */
.container-contact {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start space-around;
    align-content: center;
    

}

.container-contact h2 {
    color: var(--color-4);
    font-size: 3em;
    align-self: center;
    justify-content: space-around;
  
    
}

.container-contact p {
    display: inline-flex;
    align-self: center;
    justify-content: space-around;
    margin: auto;
}

.container-contact ul {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: center;
    flex-wrap: nowrap;
    white-space: nowrap;
    
}

.container-contact ul li {
    padding: 5%;
    color: var(--color-5);
    list-style: none;
    
}

.container-contact ul li a {
    color: var(--color-5);
    
   
    
}

/* media queries  */
@media screen and (max-width 500px) {
    align-content: column;

}

