* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #30362F;
}

header {
    color: #FF7F11;
    background-color: #058C42;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

header h1 {
    text-decoration: none;
    color: #FF7F11;
    font-weight: bold;
    font-size: xx-large;
    margin: 0;
    
}

header a {
    text-decoration: none;
    color: #FF7F11;
   
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    color: #FF7F11;
    text-decoration: none;
    font-size: 26px;
    margin: 0 30px;
}

section {
    flex-wrap: wrap;
}



article {
    flex: 1;
}

footer {
    background: #30362F;
    font-size: 26px;
    color: #FF7F11;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    
    
}

.bio-photo {
    width: 200px;
    height: 200px;
}

.hero {
    background-image: url(/zacharose.github.io/assets/images/laptop.jpeg);
    height: 150px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero h2 {
    font-size: 35px;
    text-align: center;
    color: #FF7F11;
    
}

.content {
    width: 99%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
}

.bio {
    background-color: #30362F;
    color: #FFFBFC;
    border: solid 3px #058C42;
    
}

.bio h3 {
    color: #FF7F11;
    font-size: 26px;
}

.work {
    background-color: #30362F;
    color: #FFFBFC;
    border: solid 3px #058C42;
    flex-flow: column;
    
    
}

.work h3 {
    color: #FF7F11;
    font-size: 26px;
}

.work-1 {
    flex-flow: column;
    height: 150px;
    border: solid 1px #FF7F11;
    background-color: #30362F;
    background-image: url(/zacharose.github.io/assets/images/001-version2-mock-up-main.png);
    
}



.work-2 {
    flex-flow: column;
    height: 150px;
    border: solid 1px #FF7F11;
    background-color: #30362F;
    background-image: url(/zacharose.github.io/assets/images/01-html-css-git-homework-demo.png);
}

.work a {
    color: #FFFBFC;
}

.work-img {
    height: 100px;
}



.contact {
    background-color: #30362F;
    color: #FFFBFC;
    border: solid 3px #058C42;
}

.contact h3 {
    color: #FF7F11;
    font-size: 26px;
}
