* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #30362F;
}

header {
    color: #FF7F11;
    background-color: #30362F;
    font-size: 30px;
}

header h1 a {
    text-decoration: none;
    color: #FF7F11;
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    color: #FF7F11;
    text-decoration: none;
    font-size: 26px;
}

footer {
    background: #30362F;
    font-size: 26px;
    text-align: center;
    color: #FF7F11;
}

.bio-photo {
    width: 200px;
    height: 200px;
}

.hero {
    background-image: url(/zacharose.github.io/assets/images/laptop.jpeg);
    height: 150px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero h2 {
    font-size: 35px;
    text-align: center;
    color: #FF7F11;
}

.bio {
    background-color: #30362F;
    color: #FFFBFC;
}

.work {
    background-color: #30362F;
    color: #FFFBFC;
}

.work a {
    color: #FFFBFC;
}

.contact {
    background-color: #30362F;
    color: #FFFBFC;
}

.line-break {
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    display: inline-block;
    border-bottom: 3px solid;
    border-color: #9FC36E;
}

/* .primary-border { 
    border-color: #9FC36E;
}*/